---

---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">

    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 bg-[#223843] justify-center items-center" >

        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-[#EFF1F3] " aria-label="experiencia" href="#experiencia" data-astro-cid-3ef6ksr2=""> Experiencia </a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-[#EFF1F3]" aria-label="proyectos" href="#proyectos" data-astro-cid-3ef6ksr2=""> Proyectos </a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-[#EFF1F3]" aria-label="sobremi" href="#sobremi" data-astro-cid-3ef6ksr2=""> Sobre Mi </>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-[#EFF1F3]" aria-label="contacto" href="#contacto" data-astro-cid-3ef6ksr2=""> Contacto </a>

    </nav>



</header>











